SECRET_KEY=d==glq-)9)mf0-0v%2w11!th+_4#c&)#+k4m)d=fxf5muo2#@8
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.development.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

REDIS_HOST=localhost
REDIS_PORT=6379

EMAIL_HOST_USER=test@example.com
EMAIL_HOST_PASSWORD=password